* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  font-family: 'Anton';
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
  background-color: #151515;
  background-image: url('assets/img/body_bg_left.jpg'), url('assets/img/body_bg_right.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
}
a {
  outline: none;
  text-decoration: none;
  transition: all 0.25s ease 0s;
  color: #fff;
}
img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
}
.yellow {
  color: #fdeb1f;
}
.label {
  background: #282727;
  border-radius: 5px;
  font-size: 1.4em;
  text-transform: uppercase;
  padding: 10px 20px;
  display: block;
}
.list {
  padding: 20px;
}
.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.item:nth-child(even) {
  background: #333232;
}
.info {
  padding: 5px;
}
